name: Test

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version:
          [
            1.11.x,
            1.12.x,
            1.13.x,
            1.14.x,
            1.15.x,
            1.16.x,
            1.17.x,
            1.18.x,
            1.19.x,
            1.20.x,
          ]
    env:
      GO: ${{ matrix.go-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      # Cache go build cache, used to speedup go test
      - name: Go Build Cache
        uses: actions/cache@v3
        with:
          path: $(go env GOCACHE)
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}

      # Cache go mod cache, used to speedup builds
      - name: Go Mod Cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - name: Test
        run: go test -v --race --count 1 -coverprofile=coverage.txt ./...

      - name: Upload Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.txt
          flags: unittests
          env_vars: GO
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
